---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Universal from "@/layouts/Universal.astro";
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Universal>
  <main class="w-1/2 mx-auto">
    <section class="prose prose-invert">
      <h1>Recent Blog Posts</h1>
      <div>
        {
          posts.map((post) => (
            <a href={`/blog/${post.id}/`} class="no-underline font-normal">
              <Card className="max-w-full w-full">
                <CardHeader>
                  <CardTitle>{post.data.title}</CardTitle>
                  <CardDescription>
                    <FormattedDate date={post.data.pubDate} />
                  </CardDescription>
                </CardHeader>

                {/* {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )} */}
              </Card>
            </a>
          ))
        }
      </div>
    </section>
  </main>
</Universal>
