<article
  class="w-1/2 mx-auto prose max-w-full mt-16 prose-invert prose-headings:text-foreground prose-p:text-foreground"
  id="about"
>
  <h1>
    About <span class="text-red-400" transition:name="name">Visar Mullaj</span>
  </h1>
  <p>
    I’m a frontend developer who sees code as a tool to turn ideas into working
    systems. For me, coding isn’t just a job, it’s the thrill of finding a
    solution to any problem I set my mind on.
  </p>
  <p>
    My approach is experimental. I dive into functionality with a hands-on
    mindset, testing and iterating until it clicks. I value simplicity and
    readability, aiming for code that is as easy to understand as it is
    efficient.
  </p>
  <p>
    Beyond tech, my curiosity keeps me learning and exploring new ideas, always
    seeking to understand more.
  </p>
</article>
