<article
  class="w-1/2 mx-auto prose max-w-full mt-16 prose-invert prose-headings:text-foreground prose-p:text-foreground"
  id="about"
>
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    hendrerit rhoncus risus ac malesuada. Aenean ultrices turpis ut sagittis
    laoreet. Etiam fringilla vel mi ac elementum. Sed vel sem sit amet felis
    vulputate venenatis eu quis tortor.
  </p>
  <p>
    Nullam risus metus, bibendum viverra lectus et, faucibus vehicula felis.
    Vivamus dictum, lectus ut faucibus blandit, velit massa feugiat purus, sed
    pharetra odio tellus ut elit. Sed sed tincidunt est.
  </p>
  <p>
    Donec sodales euismod placerat. Suspendisse nisi ligula, lacinia vel
    accumsan quis, lobortis in dui.
  </p>
</article>
