<section class="w-1/2 mx-auto max-w-full mt-16 space-y-6" id="contact">
  <h2 class="font-semibold text-2xl">Contact</h2>
  <div class="space-y-2">
    <p class="text-muted-foreground">
      I'm currently open to new opportunities and collaborations. Feel free to
      reach out by using the contact details below.
    </p>
    <ul class="space-y-1 list-disc list-inside text-muted-foreground">
      <li>
        <strong>Email:</strong>
        <a href="mailto:visarmullaj07@gmail.com" class="hover:underline">
          visarmullaj07@gmail.com
        </a>
      </li>
      <li>
        <strong>Location:</strong> Tirana, Albania
      </li>
    </ul>
  </div>
</section>
