---
import "../styles/global.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "@/components/BaseHead.astro";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Card className="max-w-1/2 mx-auto mt-12 text-lg">
      <CardHeader>
        <CardTitle>Table of Random content</CardTitle>
        <CardDescription>
          Just a simple table with random content that have no meaning
        </CardDescription>
      </CardHeader>
      <CardContent>
        <Table>
          <TableHeader>
            <TableRow>
              <TableHead className="w-[100px]">Name</TableHead>
              <TableHead>Description</TableHead>
              <TableHead>Category</TableHead>
              <TableHead>Price</TableHead>
            </TableRow>
            <TableBody>
              <TableRow>
                <TableCell>Apple</TableCell>
                <TableCell>Fresh red apple</TableCell>
                <TableCell>Fruit</TableCell>
                <TableCell>$1.00</TableCell>
              </TableRow>
              <TableRow>
                <TableCell>Banana</TableCell>
                <TableCell>Ripe yellow banana</TableCell>
                <TableCell>Fruit</TableCell>
                <TableCell>$0.50</TableCell>
              </TableRow>
              <TableRow>
                <TableCell>Carrot</TableCell>
                <TableCell>Organic carrot</TableCell>
                <TableCell>Vegetable</TableCell>
                <TableCell>$0.30</TableCell>
              </TableRow>
            </TableBody>
          </TableHeader>
        </Table>
      </CardContent>
      <CardFooter className="justify-center">
        <CardAction>
          <Button>Acknowledge this</Button>
        </CardAction>
      </CardFooter>
    </Card>
  </body>
</html>
